<div class="dashboard-shell">
  <div class="dashboard-shell__welcome">
    <h2 *ngIf="isAuthenticated | async" nz-typography>
      Welcome, {{ userName | async }}!
    </h2>

    <section *ngIf="!showCreateFrom">
      <button
        nz-button
        nzType="default"
        nzSize="large"
        (click)="handleShowCreateFrom()"
      >
        <i nz-icon nzType="clock-circle" nzTheme="twotone"></i>
        Create a new event
      </button>
    </section>

    <section *ngIf="showCreateFrom">
      <button
        nz-button
        nzType="default"
        nzSize="large"
        (click)="handleCancelCreate()"
        nzDanger
      >
        <i
          nz-icon
          nzType="close-circle"
          nzTheme="twotone"
          [nzTwotoneColor]="'red'"
        ></i>
        Cancel
      </button>
    </section>
  </div>

  <div *ngIf="showCreateFrom">
    <app-create></app-create>
  </div>

  <section *ngIf="!showCreateFrom">
    <app-list></app-list>
  </section>
</div>
