:host {
  width: 100%;
  padding: 10px;
  height: 100%;
  width: 80%;
}

.dashboard-shell {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-shell__welcome {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.dashboard-shell__create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-shell__create_form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
  padding: 20px;
  justify-items: flex-start;
}

.dashboard-shell__create_form_step {
  display: flex;
  flex-direction: column;
}

.dashboard-shell__events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: stretch;
}

.border {
  border: 1px solid #1890ff;
  background-color: #1890ff;
  color: white;
  // border-radius: 50%;
}
