<div class="header-shell">
  <div>
    <a nz-button nzType="link" [routerLink]="['']">
      <h2 nz-typography>Meet a <mark>Mentor</mark></h2>
    </a>
  </div>
  <div class="header-shell__button-group">
    <button
      nzSize="large"
      nz-button
      nzType="primary"
      [routerLink]="['/', 'login']"
      *ngIf="!(isAuthenticated | async)"
    >
      <i nz-icon nzType="login" nzTheme="outline"></i>
      Login
    </button>
    <button
      nzSize="large"
      nz-button
      nzType="primary"
      [routerLink]="['/', 'register']"
      *ngIf="!(isAuthenticated | async)"
    >
      <i nz-icon nzType="form" nzTheme="outline"></i>
      Register
    </button>

    <button
      nzSize="large"
      nz-button
      nzType="default"
      *ngIf="isAuthenticated | async"
      (click)="handleLogout()"
    >
      <i nz-icon nzType="logout" nzTheme="outline"></i>
      Logout
    </button>
  </div>
</div>
